li {
    display: inline;
}
/* unvisited link */
a:link {
    color: yellow;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: white;
}