li {
    display: inline;
}
/*.floating-box {
    float: left;
    width: 150px;
    height: 75px;
    margin: 10px;
    text-align: center;
    border: 3px solid #73AD21;  
}*/
/* unvisited link */
a:link {
    color: gray;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: white;
}